@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

i {
    font-size: 40px;
}

#name {
text-align: center;

}

#about {
    text-align: center;
}

footer {
    padding-top: 30px;
    text-align: center;
}
